<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Client</title>
    <base href="/">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/nouislider.min.css">
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <link rel="stylesheet" href="/stylesheets/materialize.min.css">

</head>
<body>
<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper navbar-fixed">
            <a href="/" class="brand-logo"><i class="medium material-icons">home</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/used">Sass</a></li>
                <li><a href="/peugeot">Peugeot</a></li>
                <li><a href="/audi">Audi</a></li>
            </ul>
        </div>
    </nav>
</div>
{{{body}}}

<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/materialize.min.js"></script>
<script src="/javascripts/main.js"></script>
</body>
</html>
