<div class="masthead">
    <div class="intro-text">
        <div class="intro-lead-in">Joe Bloggs Car Dealership</div>
        <a class="waves-effect waves-light btn-large" href="/menu">Enter</a>
    </div>
</div>