<div class="container">
    <div class="carousel" style="overflow: visible">
        <div class="carousel-item">
            <div class="card">
                <div class="card-image">
                    <img src="https://images.hgmsites.net/lrg/2013-volkswagen-golf-4-door-hb-auto-pzev-angular-front-exterior-view_100418244_l.jpg">
                </div>
                <div class="card-content">
                    <h4>Used Cars</h4>
                </div>
                <div class="card-action">
                    <a class="waves-effect waves-light btn-small" href="/used">View Cars</a>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card">
                <div class="card-image">
                    <img src="http://www.carlogos.org/logo/Peugeot-logo.png">
                </div>
                <div class="card-content">
                    <h4></h4>
                </div>
                <div class="card-action">
                    <a class="waves-effect waves-light btn-small" href="/used">View Cars</a>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card">
                <div class="card-image">
                    <img src="https://upload.wikimedia.org/wikipedia/en/thumb/a/a3/Audi_Logo.svg/220px-Audi_Logo.svg.png">
                </div>
                <div class="card-content">
                    <h4></h4>
                </div>
                <div class="card-action">
                    <a class="waves-effect waves-light btn-small" href="/used">View Cars</a>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card">
                <div class="card-image">
                    <img src="https://climatelaunchpad.org/wp-content/uploads/2015/04/volkswagen-logo.jpeg">
                </div>
                <div class="card-content">
                    <h4></h4>
                </div>
                <div class="card-action">
                    <a class="waves-effect waves-light btn-small" href="/used">View Cars</a>
                </div>
            </div>
        </div>
    </div>
</div>